.productsSection{
    .products{
        .productsSlider{
            display:flex;
            flex-wrap: wrap;
            justify-content: center;
            
        }
    }
}             